<section class="py-8 sm:py-4">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#f0f9ff] to-[#082f49] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="flex flex-col gap-8 lg:flex-row-reverse items-center">
      <div class="lg:w-1/3">
        <img
          class="h-auto w-full rounded-3xl lg:object-contain"
          src="/assets/about.jpg"
          alt="Hero picture"
        />
      </div>
      <div class="lg:w-2/3">
        <div class="flex flex-col gap-10">
          <!-- Mission description -->
          <div class="space-y-8 sm:space-y-12">
            <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our mission</h2>
            <div class="space-y-6">
              <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                At JS Web Solutions, our mission is to empower businesses with digital excellence. 
                We believe that the web should be a place where innovation, simplicity, and purpose converge to create 
                meaningful online experiences. Our dedicated team is driven by a passion for crafting elegant and 
                effective web solutions that enable our clients to thrive in the digital realm.
              </p>
              <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                With unwavering commitment, we strive to simplify the complexities of the online world, 
                providing tailored web development services that reflect the unique essence of each business we serve. 
                We understand that your success is our success, and we embrace every project as an opportunity to make a positive impact.
              </p>
              <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                As your trusted digital partner, we embark on a journey of collaboration, creativity, and continuous improvement. 
                Together, we'll transform your digital aspirations into tangible results, ensuring that your online presence not only 
                meets but exceeds your expectations.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
