<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/about.webp"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our mission</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              At JS Web Solutions, our mission is to empower businesses with digital excellence. 
              We believe that the web should be a place where innovation, simplicity, and purpose converge to create 
              meaningful online experiences. Our dedicated team is driven by a passion for crafting elegant and 
              effective web solutions that enable our clients to thrive in the digital realm.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              With unwavering commitment, we strive to simplify the complexities of the online world, 
              providing tailored web development services that reflect the unique essence of each business we serve. 
              We understand that your success is our success, and we embrace every project as an opportunity to make a positive impact.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              As your trusted digital partner, we embark on a journey of collaboration, creativity, and continuous improvement. 
              Together, we'll transform your digital aspirations into tangible results, ensuring that your online presence not only 
              meets but exceeds your expectations.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
