<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">About</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
          Founded in 2023 by Jack Sprinkle, JS Web Solutions is a forward-thinking web development 
          agency dedicated to simplifying the online presence of small businesses. With a passion 
          for crafting elegant and effective websites, our team specializes in custom web design, 
          development, maintenance, and optimization. We believe that the web should be a tool for 
          growth, not a source of complexity. That's why we work tirelessly to create tailored 
          solutions that empower businesses to thrive in the digital age. At JS Web Solutions, 
          we're not just web developers; we're your partners in online success.
        </p>
        <a
          href="/about"
          class="bg-primary-800 dark:bg-primary-300 hover:bg-primary-950 dark:hover:bg-primary-200 focus-visible:outline-primary-800 dark:focus-visible:outline-primary-300 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >
          Read about us
        </a>
      </div>
    </div>
  </div>
</section>
