<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
    <div
      class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col items-center gap-8 rounded-3xl px-5 py-16 sm:gap-10"
    >
      <div class="flex flex-col gap-4 sm:gap-6">
        <h2 class="mx-auto max-w-sm text-3xl font-medium tracking-tight sm:text-4xl">
          Let's create something together
        </h2>
        <p class="text-primary-950/70 dark:text-primary-200/70 mx-auto max-w-2xl text-lg">
          No matter where you are on your web journey, JS Web Solutions has the expertise to assist you. Let us handle the technical aspects while you concentrate on growing your small business. Contact us today for a free consultation and take the next step toward online success.
        </p>
      </div>
      <a
        href="/contact"
        class="bg-primary-800 dark:bg-primary-300 hover:bg-primary-950 dark:hover:bg-primary-200 focus-visible:outline-primary-800 dark:focus-visible:outline-primary-300 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
      >
        Contact us
      </a>
    </div>
  </div>
</section>
